body{
    text-align: center;
    background-color: antiquewhite;
}
button.boutton{
    color:rgb(194, 2, 46);
    background-color:#ffffff;
    text-align:center;
    padding:15px;
    width:200px;
    border-color: rgb(37, 153, 255);
}
button.boutton:hover{
    background-color: rgb(194, 2, 46);
    color: #ffffff;
}
hr{
    color:rgb(194, 2, 46);
}
h2{
    color:rgb(194, 2, 46);
}
fieldset{
    background-color: antiquewhite;
    border-color: rgb(37, 153, 255);
    align-items: center;
    box-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
legend{
    color:rgb(194, 2, 46);
}
form{
    background-color: antiquewhite;
    border-color: rgb(37, 153, 255);
    align-items: center;
}
input.submit{
    background-color: rgb(194, 2, 46);
    color: #ffffff;
    width: 10%;
    height: 5%;
}
table.teblerappels{
    align-self: center;
    border:"1" rgb(37, 153, 255) ;
}
td{
    color:rgb(194, 2, 46);
}
th{
    color:rgb(194, 2, 46);
}