<html>
    <head>
        <meta charset="utf-8"/>
        <title>Accueil</title>
        <link rel="stylesheet" href="../style.css"/>
        <br><img src = "../img/na.png" alt = "photo na" width="120px" height="120px" />
    </head>
    <body style="background-color: antiquewhite;">
        <h1>Bienvenue sur le projet rappeltout</h1>
        <hr/>
        </br></br> <a href="listerappels.php" ><button class="boutton" style="color:rgb(194, 2, 46); cursor: pointer; background-color:#ffffff;text-align:center;padding:15px;width:200px; border-color: rgb(37, 153, 255);"> Liste des rappels </button></a>
        </br></br><a href="../View/connexion.html" ><button class="boutton" style="color:rgb(194, 2, 46); cursor: pointer; background-color:#ffffff;text-align:center;padding:15px;width:200px; border-color: rgb(37, 153, 255);"> Se connecter </button></a>
    </body>
</html>